@import "tailwindcss";

@font-face {
  font-family: 'WorkSans';
  src: url('/public/font/WorkSans-VariableFont_wght.ttf') format('truetype');
}


h1, h2, h3, h4, h5, h6, p, span, div, a, button, link, body {
  font-family: 'WorkSans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


.container{
  max-width: 1360px;
}