@import "tailwindcss";

@font-face {
  font-family: 'WorkSans';
  src: url('/public/font/WorkSans-VariableFont_wght.ttf') format('truetype');
}



h1,h2,h3,h4,h5,h6,p,span,div,a,button,link {
  font-family: 'WorkSans', sans-serif;
}

